<div class="meetings">
    <ul class="tabs">
        <li>
            <input type="radio" checked name="tabs" id="tab-upcoming">
            <label for="tab-upcoming">Upcoming</label>
            <div id="tab-content-upcoming" class="tab-content animated fadeIn">
                <section class="meeting-1">
                    <div class="wrapper">
                        <h1>Marketing planning for launch</h1>
                        <div class="evt-location-time">15:30</div>
                        <div class="evt-location-place">Table 4</div>
                        <div class="pp-info borderleft">
                            <h2 class="pp-name">Hans StrÅberg</h2>
                            <div class="pp-title">Director@Investor AB</div>
                        </div>
                    </div>
                </section>

                <section class="meeting-2">
                    <div class="wrapper">
                        <h1>Software sale</h1>
                        <div class="evt-location-time">9:30</div>
                        <div class="evt-location-place">Table 28</div>
                        <div class="pp-info border-left">
                            <h2 class="pp-name">Rex Tibbens</h2>
                            <div class="pp-title">Director@Investor CB</div>
                        </div>
                    </div>
                </section>

                <section class="meeting-3">
                    <div class="wrapper">
                        <h1>UK & US market search</h1>
                        <div class="evt-location-time">9:30</div>
                        <div class="evt-location-place">Table 28</div>
                        <div class="pp-info borderleft">
                            <h2 class="pp-name">Hans StrÅberg</h2>
                            <div class="pp-title">Director@Investor AB</div>
                        </div>
                    </div>
                </section>
  </div>
        </li>
        <li>
            <input type="radio" name="tabs" id="tab-past">
            <label for="tab-past">Past</label>
            <div id="tab-content-past" class="tab-content animated fadeIn">
                <section class="meeting-1">
                    <div class="wrapper">
                        <h1>Software sale</h1>
                        <div class="evt-location-time">15:30</div>
                        <div class="evt-location-place">Table 4</div>
                        <div class="pp-info borderleft">
                            <h2 class="pp-name">Hans StrÅberg</h2>
                            <div class="pp-title">Director@Investor AB</div>
                        </div>
                    </div>
                </section>

                <section class="meeting-2">
                    <div class="wrapper">
                        <h1>Marketing planning for launch</h1>
                        <div class="evt-location-time">9:30</div>
                        <div class="evt-location-place">Table 28</div>
                        <div class="pp-info borderleft">
                            <h2 class="pp-name">Hans StrÅberg</h2>
                            <div class="pp-title">Director@Investor AB</div>
                        </div>
                    </div>
                </section>
  </div>
        </li>
    </ul> <!-- .tab-nav-->
</div>