<div class="profile">
	<section class="info-1">
		<div class="wrapper borderleft">
			<h2 class="pp-name">Hans StrÅberg</h2>
			<div class="pp-title">Director@Investor AB</div>
			<div class="pp-field">Investments</div>
			<div class="pp-investment">Investment needed: 25K-10K</div>
			<div class="pp-country">Belgium</div>
		</div>
	</section>

	<section class="info-2">
		<div class="wrapper">
			<p class="center">I am the CEO and founder of Artexis Group, which consists of four organizations that manage exhibitions and trade shows in different regions: Artexis Belgium, Artexis Nordic, easyFairs and Fairs Consult.</p>
		</div>
	</section>

	<section class="info-3">
		<div class="wrapper">
			<h2 class="center m-icon-right">Portfolio</h2>
		</div>
	</section>

	<section class="info-5">
		<div class="wrapper">
			<h2 class="center m-icon-right">Metric</h2>
		</div>
	</section>
</div>