<div class="profile">
	<section class="info-1" ng-style="ctrl.profileImg">
		<div class="wrapper borderleft">
			<h2 class="pp-name">{{ctrl.profile.firstname}} {{ctrl.profile.lastname}}</h2>
			<div class="pp-title">{{ctrl.profile.email}}</div>
			<div class="pp-field">Investments</div>
			<div class="pp-investment">Investment needed: 25K-10K</div>
			<div class="pp-country">{{ctrl.profile.country}}</div>
		</div>
	</section>

	<section class="info-2">
		<div class="wrapper">
			<p class="center">{{ctrl.profile.companydesc}}</p>
		</div>
	</section>

	<section class="info-3">
		<div class="wrapper">
			<h2 class="center m-icon-right">Portfolio</h2>
		</div>
	</section>

	<section class="info-5">
		<div class="wrapper">
			<h2 class="center m-icon-right">Metric</h2>
		</div>
	</section>
</div>